absl-py==2.3.1
altgraph==0.17.4
et_xmlfile==2.0.0
immutabledict==4.2.1
numpy==2.2.6
openpyxl==3.1.5
ortools==9.14.6206
packaging==25.0
pandas==2.3.2
pefile==2023.2.7
protobuf==6.31.1
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
